.guess-game-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .guess-game {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    padding: 0rem 2rem;

    .user-choice,
    .dev-choice {
      height: 40vh;
    }
  }

  .button-container {
    padding: 0rem 3rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .button input {
      background-color: rgb(83, 83, 83);
      border: none;
      border-radius: 5px;
      padding: 7px 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
      font-weight: 500;

      transition: all linear 0.15s;
    }

    .button input:hover {
      background-color: rgb(62, 62, 62);
      cursor: pointer;
    }
  }
}


.user-choice,
.dev-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .user-text,
  .dev-text {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
  }

  .user-input {
    background-color: rgb(166, 166, 166);
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
  }

  .render-user-choice,
  .render-dev-choice {
    background-color: rgba(0, 0, 0, 0.345);
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
  }
}
