.guess-game-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .guess-game {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    padding: 0rem 2rem;

    .user-choice,
    .dev-choice {
      height: 40vh;
    }
  }

  .button-container {
    padding: 0rem 3rem;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .button input {
      background-color: rgb(83, 83, 83);
      border: none;
      border-radius: 5px;
      padding: 7px 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
      font-weight: 500;

      transition: all linear 0.15s;
    }

    .button input:hover {
      background-color: rgb(62, 62, 62);
      cursor: pointer;
    }
  }
}

.user-choice,
.dev-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .user-text,
  .dev-text {
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
  }

  .user-input {
    background-color: rgb(166, 166, 166);
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
  }

  .render-user-choice,
  .render-dev-choice {
    background-color: rgba(0, 0, 0, 0.345);
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
  }
}

/* Modal */
.modal {
  font-family: arial;
}

.modal {
  position: fixed;
  width: 400px;
  z-index: 1040;
  top: 30%;
  left: 30%;
  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.modal-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  justify-content: space-between;
}

.modal-desc,
.modal-header,
.modal-footer {
  padding: 12px;
}

.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  border: none;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
}
button {
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 12px;
  border-radius: 5px;
  border: none;
}

.modal-footer {
  border-top: 1px solid #e9ecef;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.secondary-button {
  color: #fff;
  background-color: #6c757d;
}
.primary-button {
  color: #fff;
  background-color: #007bff;
}

.modal-example {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

